@import url("http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,400,300,700");
@import url("http://fonts.googleapis.com/css?family=Lato:100");

.round {
	font-size: 28pt;
	padding-left: 15px;
	padding-right: 15px;
	height: 100px;
	width: auto;
	min-width: 100px;
	border-radius: 50px;
	position: absolute;
	-webkit-transition: width 2s; /* Safari */
    transition: width 2s ease;
}
.operator {
	font-size: 14pt;
	padding-left: 20px;
	padding-right: 20px;
	height: 50px;
	width: auto;
	min-width: 50px;
	border-radius: 25px;
	/* initially, they are hidden */
	display: none;
	z-index: 1001;
}

.round.active {
	color: red;
	border-color: red;
}

/* Global layout */
* {
	/*box-sizing: border-box;*/
}

html {
	font-family: sans-serif;
}
body {
	font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
	background-color: #71D398;
	color: #036B2D;
}

.container {
	width: 500px;
	margin: 0px auto;
}

.game-info {
	text-align: center;
	padding-bottom: 15px;
	margin-bottom: 5px;
	margin-top: 30px;
	display: block;
	border-bottom-color: #036B2D	;
	border-bottom-width: 3px;
	border-bottom-style: solid;
	overflow: hidden;
}

.game-info .pull-left, .game-info .center, .game-info .pull-right {
	width: 33.3333333333%;
	float: left;
}

.score {
	font-size: 60px;
	color: #036B2D;
}

.logo {
	font-family: 'Lato';
	font-size: 120px;
	text-align: center;
	color: #036B2D;
}

.game-info button {
	background-color: #036B2D;
	color: #B9E8CC;
	font-size: 14px;
	padding: 8px 12px 8px 12px;
	border-radius: 15px;
	min-height: 30px;
	border-width: 0;
}

.game-info button:hover {
	background-color: #003D19;
	cursor: pointer;
}

.game-arena {
	height: 300px;
	display: none;
}

.game-menu {
	text-align: center;
	display: none;
}

.game-menu .text {
	margin: 30px;
}

.game-menu button {
	background-color: #036B2D;
	color: #B9E8CC;
	font-size: 42px;
	padding: 24px 36px 24px 36px;
	border-radius: 45px;
	min-height: 90px;
	border-width: 0;
}
.game-menu button:hover {
	background-color: #003D19;
	cursor: pointer;
}
