@import "helpers";

/* colors */

$background-color		: #F2F3ED;
$game-background-color	: #F2F3ED;
$gameinfo-color			: #00ABB1;
$gameinfo-orange-color : #EFB273;
$gameinfo-button-color : #FF6680;
$gameinfo-button-light-color : lighten($gameinfo-button-color, 5%);
$gameinfo-button-dark-color : darken($gameinfo-button-color, 15%);
$gameinfo-light-color	: lighten($gameinfo-color, 15%);
$gameinfo-dark-color	: darken($gameinfo-color, 15%);
$gamearena-color		: #69D2E7;
$gamearena-light-color	: lighten($gamearena-color, 15%);
$gamearena-dark-color	: darken($gamearena-color, 15%);
$gamearena-bg-color	: #CFE6DF;
$gamearena-shadow-color	: #BCD9D9;

$bubble-color			: #76d6ff;
$bubble-hover-color		: $gameinfo-orange-color;
$bubble-active-color	: $gameinfo-orange-color;
$bubble-border-color	: $gameinfo-color;

/* fonts */
$global-font			: "Gotham";
$logo-font				: "GothamBold";

/* default sizes */
$gamearena-width		: 500px;
$gamearena-height		: 400px;
$gamearena-width-small	: 280px;
$gamearena-height-small	: 300px;
$mobile-threshold		: $gamearena-width + 20px;

/* Import fonts */
@font-face {
  font-family: 'Gotham';
  src: url('../fonts/GothamRnd-Medium.otf');
  src: url('../fonts/GothamRnd-Medium.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'GothamBold';
  src: url('../fonts/GothamRnd-Bold.otf');
  src: url('../fonts/GothamRnd-Bold.otf') format('opentype');
  font-weight: 900;
  font-style: bold;
  font-weight: bold;
}



/* Global layout */
body {
	font-family: $global-font;
	background-color: $background-color;
	margin: 0px;
}
button {
	outline: none;
}

/* Container */
.container {
	width: $gamearena-width;
	min-height: 100vh; /* 100% of vertical height */
	overflow: hidden;
	margin: 0px auto;
	background-color: $game-background-color;

	@include smaller($mobile-threshold) {
		width: $gamearena-width-small;
	}
}

/* Game Info */
.game-info {
	font-size: 18px;
	text-align: center;
	padding-bottom: 15px;
	padding-top: 5px;
	margin-top: 20px;
	display: block;
	color: $gameinfo-color;
	overflow: hidden;

	@include smaller($mobile-threshold) {
		font-size: 12px;
		margin-top: 40px;
	}

	.pull-left, .center, .pull-right {
		width: (100% / 3);
		float: left;
	}

	button {
		background-color: $gameinfo-button-color;
		color: white;
		font-size: 14px;
		padding: 8px 12px;
		border-radius: 5px;
		min-height: 30px;
		border-width: 0;
		border-bottom-color: $gameinfo-button-dark-color;
		border-bottom-width: 5px;
		border-bottom-style: solid;
		font-family: "Gotham";
		

		&:hover {
			background-color: $gameinfo-button-light-color;
			cursor: pointer;
		}

		&:active {
			background-color: $gameinfo-button-color;
			cursor: pointer;
			margin-top: 3px;
			border-bottom-width: 2px;
		}

		@include smaller($mobile-threshold) {
			font-size: 10px;
			min-height: 20px;
		}
	}

	.score {
		font-size: 60px;

		@include smaller($mobile-threshold) {
			font-size: 36px;
		}
	}

	.logo {
		font-family: $logo-font;
		color: $gameinfo-orange-color;
		font-size: 120px;
		text-align: center;
		letter-spacing: -8px;
		text-shadow: 0px 7px #eae7c0;
		@include smaller($mobile-threshold) {
			font-size: 60px;
			margin-left: -10px;
		}
	}

	a {
		color: $gameinfo-color;
		&:hover, &:active {
			color: $gameinfo-color;
		}
	}
}

/* Game Arena */
.game-arena {
	height: $gamearena-height;
	display: none;
	background: $gamearena-bg-color;

	height: $gamearena-height;
	border-top-color: $gamearena-shadow-color;
	border-top-width: 5px;
	border-top-style: solid;
	border-radius: 10px;

	@include smaller($mobile-threshold) {
		height: $gamearena-height-small;
	}
}

#bubble-0, #bubble-1, #bubble-2, #bubble-3, #bubble-x {
	text-decoration: none;
}
.bubble {
	text-decoration: underline;
	font-size: 36pt;
	padding-left: 30px;
	padding-right: 30px;
	height: 120px;
	width: auto;
	min-width: 120px;
	border-radius: 60px;
	// border-bottom-width: 10px;
	// border-bottom-color: white;
	box-shadow: 0px 10px 0px $gamearena-shadow-color;
	border:none;
	position: absolute;
	background-color: $bubble-color;
	color: white;
	font-family: "GothamBold";
	@include transition(color 0.4s, border-color 0.4s ease, all 0.4s);

	&:hover {
		background-color: $bubble-hover-color;
		cursor: pointer;
	}

	&.active, &:active {
		// width: 130px;
		// height: 130px;
		// border-radius: 70px;
		color: white;
		border-color: $bubble-border-color;
		background-color: $bubble-active-color;
		-webkit-transition: color 0.4s, border-color 0.4s; /* Safari */
	    transition: color 0.4s, border-color 0.4s ease;
	}


	@include smaller($mobile-threshold) {
		font-size: 30px;
		padding-left: 20px;
		padding-right: 20px;
		height: 80px;
		min-width: 80px;
		border-radius: 40px;
	}
}

.operator {
	font-size: 36pt;
	padding: 0;
	position: absolute;
	height: 70px;
	width: auto;
	min-width: 70px;
	border-radius: 35px;
	font-weight: bold;
	background-color: $gamearena-light-color;
	color: white;
	/* initially, they are hidden */
	display: none;
	z-index: 1001;

	@include smaller($mobile-threshold) {
		font-size: 24px;
		height: 50px;
		min-width: 50px;
		border-radius: 25px;
	}

	&:hover {
		cursor: pointer;
		background-color: $gamearena-color;
	}
	&:active {
		background-color: $gamearena-dark-color;
	}
}

/* Game Menu */
.game-menu {
	text-align: center;
	vertical-align: middle;
	display: none;
	color: $gameinfo-color;
	background: $gamearena-bg-color;

	height: $gamearena-height;
	border-top-color: $gamearena-shadow-color;
	border-top-width: 5px;
	border-top-style: solid;
	border-radius: 10px;

	@include smaller($mobile-threshold) {
		height: $gamearena-height-small;
	}

	.text {
		margin: 30px;
		font-size: 18px;
		margin-bottom: 10px;

		@include smaller($mobile-threshold) {
			margin: 20px;
			font-size: 11px;
			margin-bottom: 10px;
		}
	}

	button {
		font-family: "GothamBold";
		background-color: $gameinfo-button-color;
		color: white;
		font-size: 24px;
		width: 200px;
		padding: 12px 18px;
		margin: 15px;
		border-radius: 45px;
		min-height: 60px;
		border-width: 0;
		border-bottom-color: $gameinfo-button-dark-color;
		border-bottom-width: 5px;
		border-bottom-style: solid;
		margin-bottom: 0;

		&:hover {
			background-color: $gamearena-color;
			cursor: pointer;
		}

		&:active {
			background-color: $gamearena-dark-color;
			margin-top: 13px;
			border-bottom-width: 2px;
		}

		@include smaller($mobile-threshold) {
			font-size: 16px;
			width: 140px;
			padding: 12px 18px 12px 18px;
			margin: 10px;
			border-radius: 30px;
			min-height: 30px;
			margin-bottom: 0;
		}
	}
}

.footer {
	margin-left: 20px;
}